/* color variables */
@white: #ffffff;
@black: #000000;
@purple-dark: #13102d;
@purple: #30235f;
@blue: #46a3cc;
@blue-light: #52c3c0;
@blue-lighter: #00e0d0;
@gray: #c2c2c2;
@text: #413d4b;
@text-gray: #333333;