a:hover {
    transition: 0.4s all ease;
    color: #00e0d0 !important;
}

a {
    transition: 0.4s all ease;
}

.main {
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    width: 1600px;
}

.page-header {
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    z-index: 9999;
    transition: 0.5s opacity ease;
    .section-h-padding;
    position: absolute;
    display: block;
    height: 80px;
    width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    .page-header__home {
        position: relative;
        z-index: 9999;
        margin-top: 15px;
        box-sizing: border-box;
        .page-header__logo {
            z-index: 9999;
            box-sizing: border-box;
            height: 50px;
        }
    }
    .page-nav {
        position: relative;
        z-index: 9999;
        .navbar {
            list-style: none;
            cursor: default;
            .navbar__item {
                cursor: default;
                display: inline-block;
                height: 80px;
                margin-right: 15px;
                a {
                    display: block;
                    float: left;
                    .Roboto900;
                    //                    width: 526px;
                    line-height: 80px;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: @white;
                }
            }
        }
    }
}


/* intro section */

.intro {
    .section-with-bg;
    height: 670px;
    background: url('/img/intro_bg.jpg') no-repeat center/cover;
    position: relative;
    z-index: 9998;
}


/* ok lets try vertical-align against flexbox */

.intro-center {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.intro-heading {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.intro-heading__header {
    .Playfair900;
    font-size: 32px;
    color: @white;
}

.intro-heading_desc {
    box-sizing: border-box;
    .Roboto300;
    color: @white;
    width: 771px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}


/* about section */

.about {
    box-sizing: border-box;
    display: block;
    width: 1600px;
    height: 402px;
    background-color: @white;
}

.about-logo {
    box-sizing: border-box;
    display: block;
    width: 700px;
    height: 100%;
}

.about-logo__item {
    display: block;
    margin-right: 70px;
}

.about-logo__img {
    width: 235px;
    height: 229px;
}

.about-story {
    height: 100%;
    padding-left: 30px;
}

.about-story__header {
    .Playfair700;
    text-align: left;
    color: @text;
    font-size: 22px;
    line-height: 14px;
    text-transform: uppercase;
}

.about-story__text {
    .Roboto300;
    width: 538px;
    opacity: 0.75;
    color: @text;
    font-size: 14px;
    line-height: 22px;
}


/* story section */

.story {
    .section-with-bg;
    height: 550px;
    //    display: flex !important;
    background: url('/img/story_bg.jpg') no-repeat center/cover;
    //    justify-content: center;
    //    align-items: center;
    //    .video-story {
    //        width: 100%;
    //        box-sizing: border-box;
    //        position: absolute;
    //        display: flex;
    //        justify-content: center;
    .video-story {
        height: 550px;
        //            position: absolute;
        width: 100%;
        display: block;
        position: relative;
        z-index: -1;
    }
    //    }
}

.story-controls {
    position: absolute;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    .story-controls__button {
        font-size: 100px;
        color: @white;
        &:hover {
            cursor: pointer;
        }
    }
}

.story-controls__annot {
    color: @white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    align-self: flex-end;
    margin-top: 15px;
}


/* experise section */

.expertise {
    box-sizing: border-box;
    width: 100%;
    height: 755px;
    background-color: @white;
}

.expertise__header {
    .Playfair700;
    color: @text;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.expertise__desc {
    .Playfair400;
    opacity: 0.75;
    color: @text;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

// begin flexbox
.expertise-list {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 300px;
    .expertise-list__row {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        &:nth-child(2n+1) {
            border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
        }
        .expertise-list__item {
            box-sizing: border-box;
            padding-top: 40px;
            padding-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-grow: 2;
            flex-direction: column;
            &:nth-child(2n) {
                border-right: 1px rgba(0, 0, 0, 0.15) solid;
                border-left: 1px rgba(0, 0, 0, 0.15) solid;
            }
            .expertise-list__icon {
                flex-shrink: 0;
                flex-grow: 0;
                height: 50px;
            }
            .expertise-list__header {
                .Roboto900;
                flex-shrink: 0;
                flex-grow: 0;
                color: @text;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;
                margin-top: 35px;
                margin-bottom: 25px;
            }
            .expertise-list__desc {
                .Roboto300;
                flex-shrink: 0;
                flex-grow: 0;
                width: 254px;
                opacity: 0.75;
                color: @text-gray;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }
        }
    }
}


/* team section */

.team {
    .section-with-bg;
    height: 712px;
    background: url('/img/team_bg.jpg') no-repeat center/cover;
    padding-left: 330px;
    padding-right: 330px;
    .team__content {
        position: relative;
        z-index: 50;
    }
    .team__header {
        .Playfair700;
        color: @white;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
        line-height: 15px;
    }
    .team_desc {
        .Playfair400;
        color: #f9f9f9;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }
    .team-photos {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 70px;
    }
    .team__item {
        border: 1px solid rgba(225, 225, 225, 0.5);
        padding-bottom: 25px;
        .team__img {
            margin-bottom: 25px;
            width: 220px;
            height: 229px;
        }
        .team__name {
            .Roboto900;
            color: @white;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 12px;
        }
        .team__job {
            .Roboto300;
            opacity: 0.7;
            color: #fafafa;
            font-size: 13px;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .team-vacancy {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .team__cta {
            .Roboto300;
            color: #f3f3f3;
            font-size: 14px;
            text-align: center;
            margin-bottom: 25px;
        }
    }
}


/* portfolio section */

.portfolio {
    height: 737px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: relative;
    .porfolio__heading {
        padding-left: 330px;
        margin-bottom: 70px;
        .portfolio__header {
            .Playfair700;
            color: @text;
            font-size: 22px;
            text-transform: uppercase;
            text-align: right;
        }
    }
    .portfolio-more {
        padding-right: 330px;
        .portfolio__more {
            .Roboto300;
            color: @text;
            font-size: 14px;
            text-align: right;
            text-decoration: none;
            line-height: 39px;
            .fa {
                font-size: 18px;
            }
        }
    }
    .portfolio-items {
        display: flex;
        padding: 0;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        margin-bottom: 60px;
        .portfolio__item {
            width: 265px;
        }
    }
    .portfolio__other {
        display: flex;
        justify-content: center;
    }
}


/* testemonials section */

.testemonials {
    .section-with-bg;
    height: 500px;
    background: url('/img/testemonials_bg.jpg') no-repeat center/cover;
}

.testemonials-content {
    position: relative;
    z-index: 50;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .testemonials__header {
        .Playfair400;
        opacity: 0.9;
        color: @white;
        font-size: 100px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 40px;
    }
    .testemonials__text {
        .Playfair400;
        width: 770px;
        opacity: 0.85;
        color: @white;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 50px;
    }
    .testemonials-team {
        .testemonials-team__employee {
            margin-bottom: 45px;
            .testemonials-team__employee-name {
                .Roboto900;
                color: @white;
                font-size: 14px;
                line-height: 15px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 10px;
            }
            .testemonials-team__employee-job {
                .Roboto300;
                opacity: 0.7;
                color: @white;
                font-size: 13px;
                line-height: 12px;
                text-transform: uppercase;
                text-align: center;
            }
        }
        .testemonials-team__employee-carousel {
            /* trying display: grid say HELLO to microsoft ;-) 
            *  uncomment below for grid
            *  NOTE that now its work only on latest firefox IE and EDGE only and experimental webkit engine
            */
            /*            display: grid;
*            align-items: center;
*            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
*            justify-items: center;
*/
            /* but flex supported everywhere */
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            .carousel-faces {
                display: flex;
                align-items: center;
                .carousel-lister__item {
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    float: left;
                    margin: 5px;
                    &.active {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
            .carousel-lister {
                border-radius: 10px;
                font-size: 35px;
                color: @purple-dark;
                opacity: 0.75;
                width: 100%;
                &.prev {
                    width: 70px;
                    display: block;
                    box-sizing: border-box;
                    background-image: linear-gradient(to right, @white, transparent 50%);
                    padding-left: 10px;
                    text-align: start;
                }
                &.next {
                    width: 70px;
                    display: block;
                    box-sizing: border-box;
                    background-image: linear-gradient(to left, @white, transparent 50%);
                    padding-right: 10px;
                    text-align: end;
                }
            }
        }
    }
}


/* contact section */

.calltoaction {
    .section-h-padding;
    height: 654px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: relative;
    .contact {
        box-sizing: border-box;
        display: block;
        width: 50%;
        padding-right: 100px;
        .contact__header {
            .Playfair700;
            color: @text;
            font-size: 22px;
            text-transform: uppercase;
            text-align: left;
        }
        .contact-form {
            .contact-form__input,
            .contact-form__textarea {
                box-sizing: border-box;
                border: 1px solid rgba(0, 0, 0, 0.1);
                margin-bottom: 25px;
                padding: 14px 20px;
                .Roboto300;
                opacity: 0.8;
                color: @text;
                font-size: 14px;
                &::placeholder {
                    text-transform: capitalize;
                }
                &::-o-input-placeholder {
                    text-transform: capitalize;
                }
                &::-moz-input-placeholder {
                    text-transform: capitalize;
                }
                &::-webkit-input-placeholder {
                    text-transform: capitalize;
                }
                &::-ms-input-placeholder {
                    text-transform: capitalize;
                }
            }
            .contact-form__input {
                width: 100%;
                height: 45px;
            }
            .contact-form__textarea {
                width: 100%;
                height: 200px;
                resize: none;
            }
            .contact-form__submit {
                width: 120px;
            }
        }
    }
    .partner {
        box-sizing: border-box;
        display: block;
        width: 50%;
        .partner__header {
            .Playfair700;
            color: @text;
            font-size: 22px;
            text-transform: uppercase;
            text-align: left;
        }
        .partner-partners {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            height: 100%;
            .partner__item {
                box-sizing: border-box;
                display: flex;
                flex-basis: 50%;
                padding: 20px 0;
                justify-content: flex-start;
                align-items: center;
                flex-grow: 0;
                flex-shrink: 0;
                &:nth-child(2n) {
                    justify-content: flex-end;
                }
            }
        }
    }
}


/* footer */

.footer {
    .section-with-bg;
    .section-h-padding;
    height: 400px;
    background: url('/img/footer_bg.jpg') no-repeat center/cover;
    box-sizing: border-box;
    .footer-content {
        position: relative;
        z-index: 50;
        .footer-row__blocks {}
        .footer-column-company {
            margin-right: 35px;
            .footer__logo {
                box-sizing: border-box;
                height: 50px;
                text-align: left;
                margin-bottom: 28px;
            }
            .footer-column-company__text {
                .Roboto300;
                width: 283px;
                color: @white;
                font-size: 14px;
                line-height: 26px;
            }
        }
        .footer-column-address {
            .footer-column-address__header {
                .Roboto900;
                color: @white;
                font-size: 15px;
                line-height: 46px;
                text-transform: uppercase;
                text-align: left;
                margin-bottom: 35px;
            }
            .footer-address {
                width: 237px;
                .footer-address__item {
                    .Roboto300;
                    color: @white;
                    font-size: 14px;
                    line-height: 26px;
                    margin-bottom: 15px;
                    list-style: none;
                    .fa {
                        font-size: 1.5em;
                        margin-right: 12px;
                    }
                }
            }
        }
        .footer-column-social {
            .footer-column-social__header {
                .Roboto900;
                color: @white;
                font-size: 15px;
                line-height: 46px;
                text-transform: uppercase;
                text-align: left;
                margin-bottom: 35px;
            }
            .footer-social-form {
                height: 45px;
                box-sizing: border-box;
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 35px;
                .footer-social-form__email {
                    .Roboto300;
                    box-sizing: border-box;
                    width: 211px;
                    height: 45px;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    background-color: transparent;
                    padding: 16px;
                    color: @white;
                    font-size: 14px;
                    line-height: 26px;
                    margin-right: 10px;
                    &::placeholder {
                        text-transform: capitalize;
                    }
                    &::-o-input-placeholder {
                        text-transform: capitalize;
                    }
                    &::-moz-input-placeholder {
                        text-transform: capitalize;
                    }
                    &::-webkit-input-placeholder {
                        text-transform: capitalize;
                    }
                    &::-ms-input-placeholder {
                        text-transform: capitalize;
                    }
                }
                .footer-social-form__sumbit {
                    box-sizing: border-box;
                    width: 70px;
                    height: 45px;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    background-color: rgba(255, 255, 255, 0.5);
                    .fa {
                        font-size: 25px;
                    }
                }
            }
            .footer-column-social-icons {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .footer-column-social-icons__item {
                    width: 35px;
                    height: 35px;
                    background-color: transparent;
                    border: 1px solid @white;
                    border-radius: 100%;
                    text-align: center;
                    font-size: 20px;
                    color: @white;
                    line-height: 36px;
                    cursor: pointer;
                }
            }
        }
        .footer__info {
            height: 100%;
            .footer__info-link {
                .Roboto400;
                margin-right: 15px;
                color: @white;
                font-size: 14px;
                line-height: 26px;
                text-transform: uppercase;
                text-align: left;
            }
        }
        .footer__disclaimer {
            .Roboto400;
            color: @white;
            font-size: 14px;
            line-height: 26px;
        }
    }
}
