a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.clearfix {
//    clear: both;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.section-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-h-padding() {
    padding-left: 330px;
    padding-right: 330px;
}

.section-with-bg() {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
}


/* positions */

.to-left {
    float: left;
}

.to-right {
    float: right;
}

.to-center {
    margin: 0 auto;
}


/* buttons */

.btn {
    .Hammersmith400;
    line-height: 40px;
    display: inline-block;
    box-sizing: border-box;
//    width: 120px;
    padding: 0 2%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid @white;
    text-align: center;
    color: @white;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-main {
    border: 1px solid @blue-lighter !important;
    color: @blue-lighter !important;
}


/* fonts */

.Hammersmith400() {
    font-family: "Hammersmith One";
    font-weight: 400;
}


/* Playfair */

.Playfair900() {
    font-family: "Playfair Display";
    font-weight: 900;
}

.Playfair700() {
    font-family: "Playfair Display";
    font-weight: 700;
}

.Playfair400() {
    font-family: "Playfair Display";
    font-weight: 400;
}


/* Roboto */

.Roboto300() {
    font-family: 'Roboto';
    font-weight: 300;
}
.Roboto400() {
    font-family: 'Roboto';
    font-weight: 400;
}
.Roboto900() {
    font-family: 'Roboto';
    font-weight: 900;
}

/* dividers */

.divider-sm {
    width: 50px;
    height: 1px;
    border: none;
    border-bottom: 1px solid @blue-lighter;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    display: block;
}


/* covers */

.cover {
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


/* margins */


/* m.bottom */

.mb-30 {
    margin-bottom: 30px !important;
}
.mb-35 {
    margin-bottom: 35px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}


/* carousel */

.carousel-control {
    display: flex;
    position: absolute;
    bottom: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carousel-control__item {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid @gray;
    border-radius: 100%;
    margin-right: 5px;
    float: left;
    &.active {
        transition: scale 0.8s;
        transform: scale(1.1);
        border: 1px solid @blue-lighter;
        background-color: @blue-lighter;
    }
}
